@use "../../../../styles/colors";
@use "../../../../styles/typo";
@use "../../../../styles/theme";

// * layout
.pricing-container {
  padding: 100px 0;

  &.color-bg {
    background-color: colors.$bg03;
  }
}

.width-1304 {
  max-width: 1304px;
}

// * toggle position
.toggle-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;

  margin-bottom: 44px;

  .toggle-guide {
    text-align: center;
    color: colors.$primary;
    font-family: typo.$notosans;
    font-size: 16px;
    font-weight: 700;
  }

  @media screen and (theme.$desktopSize) {
    flex-direction: row;
    padding-left: 194px;
  }
  @media screen and (theme.$tabletSize) {
    flex-direction: column;
  }
  @media screen and (theme.$mobileSize) {
    flex-direction: column;
  }
}

// <section className="pricing-container color-bg">
//         <div className="wrap-container width-1304">
//           <SectionTitle />

//           <article>
//             <div className="toggle-wrapper">
//               <PricingToggle onChange={onChangeToggleHandler} />
//               <p className="toggle-guide">(연간 결제 시 20% 할인)</p>
//             </div>
//             <PlanBoxGroup isToggle={isToggle} />
//             <PlanGuideText />
//           </article>
//         </div>
//       </section>
