@use "../../../../styles/colors";

.nav-bar {
  height: 110px;
  padding-left: 48px;
  padding-top: 31px;
  background: colors.$white;
  // display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: 53px;
}
