@use "../../styles/colors";
@use "../../styles/typo";

// * layout
.pricing-bg {
  background-color: colors.$bg03;
  padding: 100px 0;
}

.width-1304 {
  max-width: 1304px;
}

// * title
.title-group {
  margin-bottom: 97px;

  .title {
    color: colors.$grayscale01;
    font-family: typo.$notosans;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .sub-title {
    color: colors.$grayscale05;
    font-family: typo.$notosans;
    text-align: center;
    font-size: 24px;
    font-weight: 400;

    span {
      color: colors.$primary;
      font-weight: 700;
    }
  }
}

// * toggle position
.toggle-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-left: 194px;
  margin-bottom: 44px;

  .toggle-guide {
    text-align: center;
    color: colors.$primary;
    font-family: typo.$notosans;
    font-size: 16px;
    font-weight: 700;
  }
}

// * plan
.plan-container {
  display: flex;
  justify-content: center;
  gap: 23px;
}

.plan-box {
  flex-grow: 1;
  max-width: 308px;
  min-width: 220px;
  min-height: 653px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid colors.$primary;
  background: colors.$white;
}

.plan-title-group {
  text-align: center;
  margin: 24px 0 40px;

  .plan-title-en {
    color: colors.$grayscale01;
    font-family: typo.$poppins;
    font-size: 36px;
    font-weight: 700;
  }
  .plan-title-kr {
    color: colors.$primary;
    font-family: typo.$notosans;
    font-size: 20px;
    font-weight: 800;
  }
}

.plan-price {
  text-align: center;
  font-family: typo.$notosans;
  margin-bottom: 16px;
  font-weight: 700;
  color: colors.$grayscale07;

  .person {
    font-size: 16px;
    font-style: normal;
    line-height: normal;
  }
  .by-period {
    color: colors.$grayscale02;
    font-size: 20px;
    margin-bottom: 8px;

    span {
      font-size: 40px;
      letter-spacing: -2px;
    }
  }

  .by-period-month {
    font-size: 14px;
    height: 14px;
  }
}

.plan-feat-wrapper {
  font-family: typo.$notosans;
  margin-top: 48px;
  padding: 0 12px;

  .plan-feat-title {
    color: colors.$grayscale05;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .plan-feat {
    li {
      color: colors.$grayscale07;
      font-size: 14px;
      font-weight: 400;
      display: flex;
      flex-wrap: wrap;
      margin: 8px 0;

      em {
        color: colors.$primary;
        display: block;
      }
    }

    li:before {
      content: "";
      display: inline-block;
      top: 10px;
      height: 17px;
      width: 17px;
      background-size: 17px;
      background-image: url("../../assets/pricing/check_circle.png");
      background-repeat: no-repeat;
      margin-right: 7px;
    }

    .plan-small-text {
      font-size: 11px;
      margin-left: 24px;
    }
  }
}

.plan-guide {
  font-family: typo.$notosans;
  color: colors.$grayscale06;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  margin-top: 12px;
}
