@use "../../styles/colors";
@use "../../styles/typo";

.test {
  font-family: typo.$notosans;
  color: colors.$secondary;
  font-size: 64px;
  font-weight: 700;
}

.pricing-bg {
  background-color: colors.$bg03;
}
