@use "../../../../styles/colors";
@use "../../../../styles/typo";
// @use "../../../../styles/theme";

.button-container {
  width: fit-content;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid colors.$border02;
  background: #fff;
  height: 66px;
  border-radius: 12px;
  text-align: center;
  text-align: left;
  word-break: keep-all;
  margin-top: 30px;
  .button {
    flex-direction: row;
    color: colors.$secondary;
    text-align: center;
    align-items: center;
    font-family: typo.$notosans;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 24px;
    border-radius: 8px;
    cursor: pointer;

    &.selected {
      background-color: colors.$bg01;
      color: colors.$primary;
    }
  }
}