// primary
$primary: #006bff;
$secondary: #0a2540;
$bg01: #f2f7ff;
$bg02: #f8f9fc;
$bg03: #f5f7fe;
$bg04: #f7f8fa;

// border
$border01: #d0d7e7;
$border02: #d8d5d5;
$border03: #d9d9d9;

// grayscale
$grayscale01: #000000;
$grayscale02: #2e2d2d;
$grayscale03: #333333;
$grayscale04: #4d4e50;
$grayscale05: #575d5e;
$grayscale06: #676767;
$grayscale07: #6c6c6c;
