@use "../../styles/colors";
@use "../../styles/typo";
@use "../../styles/theme";

#features-root{
  .features-container {
    min-height: 100vh;
    margin: auto;
    
    &.bg {
      background: colors.$bg02;
    }
  }
  
}